.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    
    .card {
        width: 250px;
        margin: 5px 5px;
        background: linear-gradient(blue, lightblue);
    }
}

